---
import { getCollection } from 'astro:content'
const seminars = await getCollection('seminars');

---


{seminars.map(seminar => (
<div>
	<img src={seminar.data.speaker.img_url} alt={seminar.data.speaker.img_alt}/>
	<h2>{seminar.data.title}</h2>
	<h3>{seminar.data.type}</h3>
	<p>{seminar.data.speaker.name}</p>
</div>
))}
